.card-title {
  text-align: center;
}
.text-center {
  font-family: "Open Sans", sans-serif !important;
}
.hr{
    border: 1px solid red;
    width: 80px;
}
.box {
  width: auto;
  height: 200px;
}

img {
  height: 80%;
}