/* Html {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
} */
/* body {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
} */
body {
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: auto;
}
.card {
  background-color: #d7e2e2;
}
